/** {*/
/*    border: 1px solid red !important;*/
/*}*/

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* to ensure footer stays at bottom */
    position: relative;
    min-height: 100%;
    height: auto !important;
}

.bootstrap-override .navbar-nav li:not(:last-child) {
    border-right: 1px solid lightgrey;
}

.bootstrap-override .navbar-nav li {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    width: 11em;
}

.bootstrap-override .nav-bar {
    z-index: 900;
    background-color: red;
}

.content {
    border-top: 1px solid #3e4550;
    padding-bottom: 100px;
}

#site-header {
    text-align: center;
}

#site-header-title {
    font-family: 'IBM Plex Mono', sans-serif;
}

.recipe-grid {
    max-width: 960px;
}

.recipe-grid-item {
    padding: 40px;
    justify-content: center;
}

.recipe-grid-item figure img {
    width: 100%;
}

.recipe-grid-item figure figcaption {
    text-align: center;
    margin-top: -2em;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

#footer-main {
    /* footer sticking to bottom solution from https://stackoverflow.com/questions/34796085/how-to-stick-footer-to-bottom-not-fixed-even-with-scrolling */
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3e4550;
    color: white;
}

#footer-bottom {
    text-align: center;
    background-color: #323740;
}

#footer-bottom h3 {
    font-size: .8em;
    margin: .5em auto;
}