/** {*/
/*    border: 1px solid red !important;*/
/*}*/

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* to ensure footer stays at bottom */
    position: relative;
    min-height: 100%;
    height: auto !important;
    font-size: 1.2em;
    background-color: #F6F7F7;
    color: #323740;
}

header {
    background-color: #323740;
    color: white;
    outline: 1px dashed white;
    outline-offset: -10px;
    padding: 10px;
}

.bootstrap-override {
    height: 100%;
}

.bootstrap-override .navbar-nav a:not(:last-child) {
    border-right: 1px solid lightgrey;
}

.bootstrap-override .navbar-nav a {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 9em;
    max-width: 11em;
    color: white;
    text-decoration: underline #FF3547;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    /*background-color: #FF3547;*/
}

.bootstrap-override .navbar-nav a:hover {
    color: #FF3547;
    text-decoration: underline white;
}

.bootstrap-override .nav-bar {
    z-index: 900;
}

.bootstrap-override .navbar-custom {
    background-color: transparent !important;
}

.bootstrap-override .navbar-toggler-icon {
    color: white;
}

/* Get rid of collapsing navbar and just have it shrink */

.bootstrap-override nav button {
    margin-top: -2em;
}

.bootstrap-override .content {
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 100px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #FEFFFF;
    border-right: 10px solid lightgrey;
    border-left: 10px solid lightgrey;
    letter-spacing: .05em;
    font-weight: 300;
}

#site-header {
    text-align: center;
}

#site-header h3 {
    font-family: 'Raleway', sans-serif;
}

.bootstrap-override #site-header-title h1 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 4rem !important;
    color: white;
    padding-top: 10px;
}

#site-header-title:hover .joys {
    color: #FF3547;
}

.joys {
    font-family: 'Sacramento';
    font-size: 1.2em;
    font-weight: 400;
}

.home-content .joys {
    color: #FF3547;
}

.bootstrap-override #site-header-title {
    text-decoration: none;
}

/*.home-content {*/
/*    padding: 2em 4em 0 4em;*/
/*}*/

.home-content h2 {
    margin-bottom: .5em;
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.home-content ul {
    list-style: none;
}

.background-darkened {
    background-color: black;
    max-height: 500px;
}

.home-content .background-darkened {
    margin-bottom: 2em;
}

.img-container {
    position: relative;
    text-align: center;
}

.bgimg1 {
    max-height: 500px;
    padding: .25em;
    border: solid 1px lightgrey;
    border-radius: 1%;
    display: block;
    margin: 2em auto;
}

.caption {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 100%;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: .25em;
    transform: translate(-50%, -50%);
}

.recipe-grid-item {
    padding: 1em;
    justify-content: center;
}

.recipe-grid-item a {
    text-decoration: none;
}

.recipe-grid-item img {
    width: 100%;
}

/* There is some weird sibling opacity issue where the z-index is autoassigned(?) unless specified
by the user, so the h4 was given position: relative and ahigh z-index to force it to ignore its
sibling's opacity change.
https://stackoverflow.com/questions/19638151/css-opacity-affecting-sibling-image-opacity */
.recipe-grid-item a:hover img {
    opacity: 0.5;
}

.recipe-grid-item a:hover h4 {
    color: #FF3547;
}

.recipe-grid-item h4 {
    text-align: center;
    margin-top: -2em;
    margin-bottom: 0;
    padding-top: .35em;
    color: white;
    /*font-size: 1.5em;*/
    font-size: 2vw;
    font-weight: 200;
    position: relative;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    height: 2em;
    font-family: 'Raleway', sans-serif;
}

.contact {
    height: 100%;
}

.contact .message {
    text-align: center;
}

.contact textarea {
    width: 100%;
    min-height: 20vh;
}

.contact button {
    background-color: #FF3547;
    border-radius: .25em;
    float: right;
    border: none;
}

#footer-main {
    /* footer sticking to bottom solution from https://stackoverflow.com/questions/34796085/how-to-stick-footer-to-bottom-not-fixed-even-with-scrolling */
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3e4550;
    color: white;
    font-size: .75em;
    font-weight: 100;
}

#footer-main a {
    color: white;
    text-decoration: none;
}

#footer-main a:hover {
    color: #FF3547;
}

#footer-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5em;
    text-align: left;
}

#footer-bottom {
    text-align: center;
    background-color: #323740;
    color: rgba(255,255,255,.6);
}

#footer-bottom h3 {
    font-size: .8em;
    margin: .5em auto;
    font-weight: 300;
}

#footer-bottom a {
    color: white;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 300;
}

#footer-bottom a:hover {
    color: #FF3547;
}

@media only screen and (max-width: 767px) {
    .bootstrap-override .content {
        padding-bottom: 150px;
    }
    #footer-main ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .bootstrap-override .navbar-nav a {
        width: 100%;
        text-decoration: none;
        display: inline-block;
        margin: auto;
    }
    
    .bootstrap-override .navbar-nav a:not(:last-child) {
        border: none;
    }
    
    .bootstrap-override .content {
        min-width: 100%;
        border: none;
        padding-left: .2em;
        padding-right: .2em;
    }
    
    .bootstrap-override #site-header-title h1 {
        font-size: 2rem !important;
    }
    
    .joys {
        color: #FF3547
    }
}