{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block pagetitle %}
<br>
{% endblock %}

{% block main %}
    <div class="container home-content">
        <h2>Welcome!</h2>
        <p>
            Cooking is not only about nourishing our bodies; it is so much more.
        </p>
        <ul>
            <li>Through cooking we express our creativity.</li>
            <li>Through cooking we show our love for those around us.</li>
            <li>Through cooking we build community and continue our family traditions.</li>
        </ul>
        <p>
            It is through cooking that we explore an integral part of other cultures, and in doing so create
            delicious dishes to please the palatte.
        </p>
        <div class="background-darkened">
            <div class="bgimg1">
                <div class="caption">
                    FOOD AS CULTURE
                </div>
            </div>
        </div>
        <p>
            Using this website we hope that you will explore the dishes of cultures from around this planet.<br>
            <br>
            Some you will love and perhaps bring into your family as a new rotating dish.<br>
            <br>
            Some will fail to thrill and be forgotten.<br>
            <br>
            Some will turn out to be completely unappealing to your palatte.<br>
            <br>
            But all will be successes in the mission to introduce you to new culinary viewpoints!<br>
            <br>
        </p>
        <p>
            Regardless of each dish's outcome with you and yours, we hope you will continue on in your exploration
            of the dishes made by your fellow humans across the globe.
        </p>
        <p>
            -The Joys of Cooking team
        </p>
    </div>
{% endblock %}